/*.container {
    width: 100vw;
    height: 150vh;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "h h h h h h" 
        "m m m m m m" 
        "m m m m m m" 
        "m m m m m m" 
        "m m m m m m" 
        "m m m m m m" 
        "f f f f f f";
}

/*.head {
    background-color: yellow;
    grid-area: h;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    color: white;
    justify-items: center;
    align-items: center;
}

.side-nav {
    background-color: blue;
    grid-area: s;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.main {
    background-color: red;
    grid-area: m ;
    
}

.foot {
    background-color: green;
    grid-area: f;
}*/

/* Style the navbar */
#navbar {
    overflow: hidden;
    grid-area: h;
    background-color: #333;
}

    /* Navbar links */
    #navbar a {
        float: left;

        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }